html,body{
	width:100%;
	height:100%;
}

#halfwidthleft {
	width: 45%;
	float: left;
	
}
#halfwidthright{
	width: 45%;
	float: right;
}
#filler{
	height: 30vh;
}
#bottom{
	height: 100vh;
}
#center{
	display: block;
	text-align: center;
	margin: 0 auto;
}
.center{
	text-align:center;
	float:center;
	width: 50%
}
.smallbuttonright{
	width: 10%;
	float: right;
}